/* Reset & body */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: #1A1A1A;
  font-family: 'Open Sans', sans-serif;
}

/* Calculator */
.calculator {
  width: 300px;
  background:#323232;
  margin: 30px auto;
  position: fixed;
  overflow: hidden;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Screen */
.screen {
  background: #F4F4F4;
  padding: 15px 28px;
  height: 69px;
  text-align: right;
  font-size: 29px;
  color: #4c455a;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.6s ease-in-out;
}

.screen::after {
  content: '';
  display: table;
  clear: both;
}

/* Buttons */
.buttons button {
  float: right;
  border: none;
  background: transparent;
  color: #fff;
  padding: 15px 10px;
  outline: none;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  cursor: pointer;
}

.buttons button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.buttons button:active,
.buttons button.active {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 14px;
}

.buttons::after {
  content: '';
  display: table;
  clear: both;
}

.numbers {
  float: left;
  width: 75%;
  padding: 10px;
}

.numbers button {
  width: 33.3333%;
  padding: 18px 10px;
}

.operators {
  float: right;
  width: 25%;
  padding: 16px 10px 10px;
  background: rgba(0, 0, 0, 0.1);
  min-height: 260px;
}

.operators button {
  width: 100%;
  padding: 11px 10px;
}

.operators button[data-val="x"] {
  font-size: 13px;
}

.operators button[data-val="-"] {
  font-size: 18px;
}

.operators button[data-val="="] {
  font-size: 16px;
}
